.navigation {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    top: 0;
    left: 0;
    margin-bottom: 15px;
    position: sticky;
    width: 100%;
    z-index: 1;

    ul {
        display: flex;
        justify-content: space-around;
    }

    li {
        flex: 1;
        text-align: center;
    }

    a {
        display: block;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 15px;
        text-transform: uppercase;

        span {
            display: none;
        }

        svg {
            width: 24px;
            height: 24px;
            fill: #D33569;
        }

        &:hover {
            background-color: #D33569;

            svg {
                fill: #fff;
            }
        }
    }
}