.navigation {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    top: 0;
    left: 0;
    margin-bottom: 15px;
    position: sticky;
    width: 100%;
    z-index: 2;

    ul {
        display: flex;
        justify-content: space-around;
    }

    li {
        flex: 1;
        text-align: center;
    }

    a {
        display: block;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 20px;
        text-transform: uppercase;

        span {
            display: none;
        }

        svg {
            width: 24px;
            height: 24px;
            fill: #D33569;
        }

        &.active {
            background-color: #D33569;

            svg {
                fill: #fff;
            }

            + .submenu {
                display: flex;
            }
        }
    }

    .submenu {
        background: #fff;
        box-shadow: 0 0 2px #ccc;
        display: none;
        left: 0;
        justify-content: flex-start;
        overflow: auto;
        position: absolute;
        right: 0;

        a {
            border-right: 1px solid #eaeaea;
            color: #D33569;
            padding: 25px 20px;
            white-space: nowrap;
        }
    }
}

.layer {
    background-color: rgba(#000, .5);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

@media(hover: hover) {
    .navigation {
        a:hover {
            background-color: #D33569;

            svg {
                fill: #fff;
            }
        }

        .submenu {
            a:hover {
                color: #fff;
            }
        }
    }
}